Source: telepathy-bell
Build-Depends: git, cmake, libtelepathy-qt5-dev (>= 0.9.6)
Maintainer: Alok Anand <alok4nand@gmail.com>

Package: telepathy-bell
Architecture: all
Description: Telepathy client for Ring
