#!/usr/bin/make -f

DISTRIBUTION = $(shell lsb_release -sr)
VERSION = 1.0.0
PACKAGEVERSION = $(VERSION)-0~$(DISTRIBUTION)
TARBALL = master.zip
#URL = "https://github.com/alok4nand/telepathy-bell.git"
URL = "https://github.com/alok4nand/telepathy-bell/archive/master.zip"

%:
	dh $@

override_dh_auto_clean:
override_dh_auto_test:
override_dh_auto_build:
override_dh_auto_install:
	wget $(URL)
	unzip $(TARBALL)
	cmake telepathy-bell-master -DCMAKE_INSTALL_PREFIX=/usr
	make
	sudo make install

override_dh_gencontrol:
	dh_gencontrol -- -v$(PACKAGEVERSION)
