#!/usr/bin/make -f

DISTRIBUTION = $(shell lsb_release -sr)
VERSION = 1.0.0
PACKAGEVERSION = $(VERSION)-0~$(DISTRIBUTION)
URL = "https://github.com/alok4nand/telepathy-bell.git"

%:
	dh $@

override_dh_auto_clean:
override_dh_auto_test:
override_dh_auto_build:
override_dh_auto_install:
	git clone $(URL) telepathy-bell
	cd telepathy-bell && \
		cmake -DCMAKE_INSTALL_PREFIX=../debian/telepathy-bell/usr && \
		make && make install && \
    cd ../

override_dh_gencontrol:
	dh_gencontrol -- -v$(PACKAGEVERSION)
